/* common css start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: my_font;
    src: url(../my_fonts/Reey-Regular.otf);
}
.container {
    width: 1320px;
    margin: 0 auto;
}

/* common css end */
h1{
    font-family: "Paprika", sans-serif;

}
#header{
    position: relative
}
/* ===== navbar part start ===== */
.navbar{
    background: rgb(0, 0, 0 ,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
.navbar-brand img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.logotxt{
    font-size: 30px;
    font-family: "Paprika", sans-serif;
    color: #fff;
    line-height: 70px;
    padding-left: 10px;
}
.navbar-toggler{
    color: #01f82b !important;
    border: 1px solid #01f82b;
}
.navbar-collapse {
    flex-grow: 0;
}
.nav-item a{
    color: white;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 22px;
    padding: 48px 20px !important;
    font-weight: 500;
}
.nav-item a:hover{
    color: #01f82b;
    transition: 0.7s;
}
.navbtn{
    background: #01f82b;
    color: #000;
    padding: 8px 40px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 22px;
    margin-left: 20px;
}
.navbtn:hover{
    background: #fff;
    transition: 0.7s;
    border: 1px solid #000;
}
.fa-magnifying-glass{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 15px;
    cursor: pointer;
}
/* ===== navbar part end ===== */

/* ===== hero part start ===== */
#hero{
    background-image: url(../images/mosque\ \(15\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroverly{
    background: rgb(0, 0, 0 ,0.5);
    width: 100%;
    padding: 300px 0;
}
/* ===== hero part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */