/* common css start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8px;
}
@font-face {
    font-family: my_font;
    src: url(../my_fonts/Reey-Regular.otf);
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* common css end */
#header {
    position: relative;
}

/* ===== navbar part start ===== */
.navbar {
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logotxt {
    font-size: 30px;
    font-family: "Paprika", sans-serif;
    color: #fff;
    line-height: 70px;
    padding-left: 10px;
}

.navbar-toggler {
    color: #01f82b !important;
    border: 1px solid #01f82b;
}

.navbar-collapse {
    flex-grow: 0;
    margin-left: 150px;
}
.nav-item{
    height: 30px;
    margin-top: 20px;
}
.nav-item a {
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 22px;
    font-weight: 500;
    padding: 0px 20px;
}

.nav-item a:hover {
    color: #01f82b;
    transition: 0.7s;
}

.navbtn {
    background: #01f82b;
    color: #fff;
    padding: 8px 40px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 22px;
    margin-left: 20px;
}

.navbtn:hover {
    background: #000;
    transition: 0.7s;
    border: 1px solid #000;
}

.fa-magnifying-glass {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 15px;
    cursor: pointer;
}

/* ===== navbar part end ===== */

/* ===== hero part start ===== */
#hero {
    background-image: url(../images/mosque\ \(15\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroverly {
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    padding: 150px 0;
}

.herohead {
    font-size: 54px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    color: #fff;
    padding: 0 120px;
    line-height: 60px;
    text-align: center;
    padding-top: 50px;
}

.herotxt {
    font-size: 20px;
    font-family: "Paprika", serif;
    font-weight: 400;
    color: #fff;
    padding: 20px 150px;
    line-height: 30px;
    text-align: center;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.date {
    height: 115px;
    width: 100px;
    border: 1px solid #c7c4c4;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.571);
}

.times {
    font-size: 50px;
    font-family: "Open Sans", serif;
    font-weight: 900;
    color: #fff;
    padding: 20px;
}

.timetxt {
    font-size: 20px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/* ===== hero part end ===== */

/* ===== about part start ===== */
.aboutflex{
    display: flex;
}
.aboutImage{
    width: 50%;
}
.aboutImage img{
    width: 100%;
    height: 485px;
}
.aboutTxt{
    padding-left: 50px;
    padding-top: 127px;
    width: 50%;
}

.aboutHead{
    font-size: 29px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    color: #000;
    line-height: 32px;
}
.aboutDesc{
    font-size: 19px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    color: #000;
    line-height: 21px;
    padding-right: 50px;
    padding-top: 20px;
}
.aboutSecDes{
    font-size: 16px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    color: #000;
    line-height: 20px;
    padding-top: 20px;
    padding-right: 50px;

}

/* ===== about part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */

/* =====  part start ===== */
/* =====  part end ===== */